<div class="card">
    <div class="card-header">
      Shipra Exp.(11082)
    </div>
    <div class="card-body">
      <h5 class="card-title">Source: Howrah Destination: Indore</h5>
      <p class="card-text">Your station: Sagar  Your destination: Indore</p>
      <p>Availabiliy status</p>
    </div>
  </div>
  <br/>
  <div class="card">
      <div class="card-header">
        Shipra Exp.(11082)
      </div>
      <div class="card-body">
        <h5 class="card-title">Source: Howrah Destination: Indore</h5>
        <p class="card-text">Your station: Sagar  Your destination: Indore</p>
        <p>Availabiliy status</p>
      </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
          Shipra Exp.(11082)
        </div>
        <div class="card-body">
          <h5 class="card-title">Source: Howrah Destination: Indore</h5>
          <p class="card-text">Your station: Sagar  Your destination: Indore</p>
          <p>Availabiliy status</p>
        </div>
      </div>
      <br/>
      <div class="card">
          <div class="card-header">
            Shipra Exp.(11082)
          </div>
          <div class="card-body">
            <h5 class="card-title">Source: Howrah Destination: Indore</h5>
            <p class="card-text">Your station: Sagar  Your destination: Indore</p>
            <p>Availabiliy status</p>
          </div>
        </div>